{% include 'layout/app_header.html' %}
  <h1>Información del libro</h1><br><br>
    {% for portada, instacias in book.items %}
      {% for libro, generos in instacias.items %}
        <div class="banner__in">
          <img src="../static/{{portada}}" alt="Portada" class="big__portada">
          <div class="contenedor__info">
            <p class="title2">{{ libro.title }}</p>
            <div class = "contenedor__info">
              <h4>Autor:</h4>
              <p>{{ libro.author.first_name }} {{ libro.author.last_name }}</p>
            <div class="contenedor__info">
              <h4>Género:</h4>
              <p>{% for genero in generos %}
                -{{genero}}
                  {%endfor%}</p>
            </div>
            <div class="contenedor__info">
            <h4>Descripción:</h4>
            <p>{{libro.summary}}</p>
            <form method="GET" action="{% url 'Read' %}">
              <input type="hidden" name="instancia" value="{{libro.id}}" />
              <button class="boton cont__boton">Leer libro</button>
            </form>
            <form method="GET" action="{%url 'Favorite_book'%}">
              <input type="hidden" name="favorite" value="{{libro.id}}" />
              <button class="boton cont__boton">Agregar a favoritos &plus;</button>
            </form>
            </div>
            </div>
          </div>
        </div>
      {%endfor%}
    {% endfor %}
{% include 'layout/app_footer.html' %}

