<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ejemplo de Banner con Desplazamiento Horizontal</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="banner-container">
    <div class="banner">
        <h1>¡Bienvenido a nuestro sitio web!</h1>
        <p>Descubre nuestras ofertas especiales</p>
        <a href="#" class="btn">Ver más</a>
    </div>
    {{libros}}
    <div class="banner">
        <h1>¡Bienvenido a nuestro sitio web!</h1>
        <p>Descubre nuestras ofertas especiales</p>
        <a href="#" class="btn">Ver más</a>
    </div>
  </div>

</body>
</html>
