<!--{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>Biblioteca Virtual</title>
</head>
-->
{% include 'layout/app_header.html' %}
<body>
  <main>
    <section>
      <h1>Bienvenido a su biblioteca virtual</h1>
	  <h2>Recomendados</h2>
	  <ul class="container2">
	    {% for portada, instancias in generos.items %}
        {% for libro, genero in instancias.items %}
		{% for gen in genero %}
		  {% if 'Acción' == gen.name %}
            <li class = "contenedor">
			  <img src="static/{{portada}}" class="portada">
			  <div class="contenedor__info">
			    <p class="title">{{libro.title}}</p>
			    {{libro.author.first_name}} {{libro.author.last_name}}
			    <form action="{% url 'Book' %}" method="get">
				  <input type="hidden" id="{{libro.id}}" name="instancia" value="{{libro.id}}" />
				  <button class="boton cont__boton">Ver más</button>
				</form>
			  </div>
			</li>
		  {% endif %}
		{%endfor%}
        {%endfor%}
		{%endfor%}
      </ul>
    </section>
	<section>
	  <br><br>
	  <h2>Fantasía</h2>
	  <ul class="container2">
	    {% for portada, instancias in generos.items %}
        {% for libro, genero in instancias.items %}
		{% for gen in genero %}
		  {% if 'Fantasía' == gen.name %}
            <li class = "contenedor">
			  <img src="static/{{portada}}" class="portada">
			  <div class="contenedor__info">
			    <p class="title">{{libro.title}}</p>
			    {{libro.author.first_name}} {{libro.author.last_name}}
			    <form action="{% url 'Book' %}" method="get">
				  <input type="hidden" id="{{libro.id}}" name="instancia" value="{{libro.id}}" />
				  <button class="boton cont__boton">Ver más</button>
				</form>
			  </div>
			</li>
		  {% endif %}
		{%endfor%}
        {%endfor%}
		{%endfor%}
	  </ul>
	</section>
  </main>
  {% include 'layout/app_footer.html' %}