{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <script src="{%static 'buttons.js'%}" defer></script>
  <title>Header</title>
</head>
<body>
  <header class="header">
    <img src="{% static 'assets/logo_libreria.png' %}" alt="Logo libreria" class="logo">
    <a href="{% url 'Home' %}"><button class="boton">Inicio</button></a>
    <a href="{% url 'Biblioteca' %}"><button class="boton">Biblioteca</button></a>
    <button id="btnBack" class="boton">&#8656;</button>
  </header>
    {%if pdf%}
    {% for contenido, libro in libro.items%}
      {{contenido}}
      <embed class="read__pdf" src="../static/books/{{contenido}}" type="application/pdf" />
    {%endfor%}
    {%else%}
      <div class="banner__in">
        <p>Lo sentimos.</p><br>
        <p>Aún no contamos con ese libro en la biblioteca.</p>
      </div>
    {%endif%}

  {%include 'layout/app_footer.html'%}

</body>
</html>