{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <script src="{% static 'login.js' %}" defer></script>
  <title>Inicio de Sesion</title>
</head>
<body>
  <header class="header">
    <img src="{% static 'assets/logo_biblioteca.png'%}" alt="logo_biblioteca" class="logo">
    <a href="{% url 'Home' %}"><button class="boton">Inicio</button></a>
  </header>
  <main>
    <section>
      <div class="cont__form">
        <h1>Inicio de Sesion</h1>
        <form action="{% url 'Validar' %}" method="POST" class="formulario">
          {%csrf_token%}
          {{formulario.as_p}}
          <button type='submit' class="form__boton">Iniciar sesion</button>
          <p>{{msg}}</p>
        </form>
        <br>
        <p>No tienes una cuenta aún?</p>
        <a href="{% url 'Registro' %}">Crea tu cuenta aqui</a>
      </div>
    </section>
  </main>
{% include 'layout/app_footer.html' %}
