{%load static%}
{% include 'layout/app_log.html' %}
  <main>
    <script src="{%static 'login.js'%}" defer></script>
    <section>
      <div class="cont__form">
        <h1>Inicio de Sesion</h1>
        <form action="{% url 'Validar' %}" method="POST" class="formulario">
          {%csrf_token%}
          {{formulario.as_p}}
          <button type='submit' class="form__boton">Iniciar sesion</button>
          <p>{{msg}}</p>
          <a href="">Olvidé mi contraseña</a>
        </form>
        <br>
        <p>No tienes una cuenta aún?</p>
        <a href="{% url 'Registro' %}">Crea tu cuenta aqui</a>
      </div>
    </section>
  </main>
{% include 'layout/app_footer.html' %}
