{% include 'layout/app_log.html' %}
  <section>
  <div class="cont__form">
    <h2>Crea tu cuenta en nuestra libreria</h2>
    <form action="{% url 'Validar' %}" method="POST" class="formulario" >
      {% csrf_token %}
      {{formulario.as_p}}
      <button type="submit" class="form__boton">Registrarse</button>
      <button type="reset" class="form__boton">Restablecer</button>
      <p>{{msg}}</p>
      </form>
      <br>
      <p>Ya tienes una cuenta?</p>
      <a href="{%url 'Login'%}">Inicia sesion aqui</a>
    </div>
  </section>
{% include 'layout/app_footer.html' %}