{% include 'layout/app_header.html' %}
  {% if registrado %}
    <p>El registro fue exitoso. Puede continuar a la página de inicio de sesion.</p>
    <br>
    <a href="{% url 'Login' %}">Iniciar sesion</a>
  {% elif logueado %}
    <p>Ha iniciado sesion correctamente.</p>
    <p>Puede continuar a la página de inicio.</p>
    <br>
    <form method="POST" action="{%url 'Home'%}">
      {%csrf_token%}
      <input type="hidden" name="user" value="{{user}}" />
      <button type="submit" class="boton cont__boton" />Ir a inicio</button>
    </form>
  {%endif%}
{% include 'layout/app_footer.html' %}