{% include 'layout/app_header.html' %}
  {% if registrado %}
    <p>El registro fue exitoso. Puede continuar a la página de inicio de sesion.</p>
    <br>
    <a href="{% url 'Login' %}">Iniciar sesion</a>
  {% elif logueado %}
    <p>Ha iniciado sesion correctamente.</p>
    {{user.user_name}}
    <p>Puede continuar a la página de inicio.</p>
    <br>
    <form method="GET" action="{%url 'Home'%}">
      <input type="hidden" name="user" value="{{user.user_name}}" />
      <a href="{%url 'Home'%}"><input type="submit" class="boton cont__boton" /></a>
    </form>
  {%endif%}
{% include 'layout/app_footer.html' %}