{% load static %}
  <footer class="header">
    <a href="{% url 'Contacto' %}"><button class="boton">Contactanos</button></a>
    <img src="{% static 'assets/knights.png' %}" alt='knights' class="fondo">
    <div class="contenedor_info">
	  <p>Siguenos en nuestras redes:</p>
	  <a href="www.facebook.com/BibliotecaVirtual">
	    <img src="{% static 'assets/logo_fb.png' %}" alt="Facebook" class="logo_redes">
	  </a>
	  <a href="www.instagram.com/BibliotecaVirtual_oficial">
	    <img src="{% static 'assets/logo_ig.png' %}" alt="Instagram" class="logo_redes">
	  </a>
	  <a href="www.twitter.com/BibliotecaVirtual_1220">
	    <img src="{% static 'assets/logo_x.png' %}" alt="X" class="logo_redes">
      </a>
    </div>
  </footer>
</body>
</html>