{% load static %}
  <footer class="header">
    <a href="{% url 'Nosotros' %}"><button class="boton">Nosotros</button></a>
    <img src="{% static 'assets/knights.png' %}" alt='knights' class="fondo">
    <div class="contenedor_info">
	    <p>Siguenos en nuestras redes:</p>
      <p><a href=""><img src="{% static 'assets/logo_fb.png' %}" alt="Facebook" class="logo__redes"></a> BibliotecaVirtual</p><br>
	    <p><a href=""><img src="{% static 'assets/logo_ig.png' %}" alt="Instagram" class="logo__redes"></a> BibliotecaVirtual_oficial</p><br>
	    <p><a href=""><img src="{% static 'assets/logo_x.png' %}" alt="X" class="logo__redes"></a> BibliotecaVirtual_1220</p>
    </div>
  </footer>
</body>
</html>