{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-c3DzVHuSzO+5AUVs9ogcZ+G2EnX3+wJz9qg74I5P+o0szlRidauyHg3eIF1vabVKWFnpoFz0XdCkpsV0+3kMRg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="{% static 'buttons.js' %}" defer></script>
  <title>Biblioteca Virtual</title>
</head>
<body>
  <header class="header">
    <img src="{% static 'assets/logo_libreria.png' %}" alt="Logo libreria" class="logo">
    <form method="POST" action="{%url 'Home'%}">
      {%csrf_token%}
      <input type="hidden" name="user" value="user.user_name" />
      <button type="submit" class="boton">Inicio</button>
    </form>
    <a href="{% url 'Biblioteca' %}"><button class="boton">Biblioteca</button></a>
    <button id="btnBack" class="boton" title="Regresar">&#8656;</button>
  </header>
  <aside class="aside">
    <div class="perfil">
      <!--
      <img src="{% static 'assets/face_1.jpg' %}" alt="Foto de perfil" class="perfil__foto">
      <p>{{user}}</p><br>-->
      <button id="btnMenu" onclick="toggleMenu()">&#9776;</button>
      <ul id="menu" class="hidden">
        <li><a href="{%url 'LoginUpdate'%}">Editar perfil</a></li>
        <li><a href="">Libros Favoritos</a></li>
        <li><a href="{% url 'Login' %}">Cerrar sesion</a></li>
      </ul>
    </div>
    <br>
    <form action="{% url 'Buscar' %}" method='get' class="banner__in">
      <p>Buscas un libro en particular?</p><br>
      <label for="buscar">Título del libro:</label>
      <input type="text" id="buscar" name="buscar_libro" class="entrada" /><br>
      <button class="form__boton btn" class="fas fa-search">Buscar</button>
    </form>
  </aside>